.root {
    -fx-background-color: rgb(245, 245, 245);
}

* {
    -fx-font-family: "Poppins Bold";
}


.login-panel {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 12, 0.2, 0, 3);
    -fx-background-radius: 20px;
}

.text-field, .password-field {
    -fx-background-color: white;
    -fx-padding: 0 0 0 45;
    -fx-border-color: lightgray;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-font-size: 13px;
}

.forgot-password {
    -fx-text-fill: #0386ee;
    -fx-font-size: 12px;
}

.login-button {
    -fx-background-color: rgb(3,134,238);
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}


.login-button:hover {
    -fx-background-color: rgb(91, 164, 251);
    -fx-text-fill: white;
    -fx-cursor: hand;
}


.label-title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.label-title2 {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}